In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Teya,RU,2022-05-06 20:53:55,60.3778,92.6267,32.94,95,60,4.38
1,1,Airai,TL,2022-05-06 20:53:56,-8.9266,125.4092,58.64,93,8,3.53
2,2,Avarua,CK,2022-05-06 20:53:01,-21.2078,-159.7750,84.25,70,3,5.75
3,3,Vaini,TO,2022-05-06 20:53:57,-21.2000,-175.2000,75.36,88,40,5.75
4,4,Cape Town,ZA,2022-05-06 20:53:57,-33.9258,18.4232,57.90,88,75,11.01
...,...,...,...,...,...,...,...,...,...,...
566,566,Chamonix-Mont-Blanc,FR,2022-05-06 21:09:07,45.9238,6.8693,50.85,93,96,4.59
567,567,Hermiston,US,2022-05-06 21:10:15,45.8404,-119.2895,62.42,82,100,6.91
568,568,Nadym,RU,2022-05-06 21:11:10,65.5333,72.5167,13.39,88,100,15.19
569,569,Susehri,TR,2022-05-06 21:11:11,40.1644,38.0867,42.40,95,100,5.03
570,570,Zhuhai,CN,2022-05-06 21:11:11,22.2769,113.5678,76.86,88,20,4.61

In [9]:
city_data_df.columns

Index(['City_ID', 'City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp',
       'Humidity', 'Cloudiness', 'Wind Speed'],
      dtype='object')

In [3]:
# Get the datatypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))