## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,50.49,98,78,1.99,broken clouds
1,1,Rikitea,PF,-23.1203,-134.9692,76.73,77,49,23.15,scattered clouds
2,2,Severo-Kurilsk,RU,50.6789,156.1250,38.71,95,100,19.15,light rain
3,3,Saint George,US,37.1041,-113.5841,80.64,12,0,8.01,clear sky
4,4,Sioux Lookout,CA,50.1001,-91.9170,44.67,100,100,10.36,light rain
...,...,...,...,...,...,...,...,...,...,...
677,677,Saint-Francois,FR,46.4154,3.9054,72.84,35,0,10.36,clear sky
678,678,Payo,ID,-3.7508,103.6372,74.91,84,98,2.04,overcast clouds
679,679,Ponta Delgada,PT,37.7333,-25.6667,68.72,68,40,11.50,scattered clouds
680,680,Sandominic,RO,46.5840,25.7803,48.97,94,100,3.36,overcast clouds
681,681,Sulangan,PH,11.1373,123.7228,82.58,75,66,15.97,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 62
What is the maximum temperature you would like for your trip? 88

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,76.73,77,49,23.15,scattered clouds
3,3,Saint George,US,37.1041,-113.5841,80.64,12,0,8.01,clear sky
8,8,Ontario,US,34.0633,-117.6509,66.87,80,100,12.66,light intensity drizzle
9,9,Hilo,US,19.7297,-155.0900,87.28,92,100,5.75,light rain
11,11,Lira,UG,2.2350,32.9097,68.72,81,98,1.45,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Rong Kwang,TH,18.3390,100.3174,76.12,90,76,1.63,light rain
677,677,Saint-Francois,FR,46.4154,3.9054,72.84,35,0,10.36,clear sky
678,678,Payo,ID,-3.7508,103.6372,74.91,84,98,2.04,overcast clouds
679,679,Ponta Delgada,PT,37.7333,-25.6667,68.72,68,40,11.50,scattered clouds
681,681,Sulangan,PH,11.1373,123.7228,82.58,75,66,15.97,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                351
City                   351
Country                350
Lat                    351
Lng                    351
Max Temp               351
Humidity               351
Cloudiness             351
Wind Speed             351
Current Description    351
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Rikitea,PF,-23.1203,-134.9692,76.73,77,49,23.15,scattered clouds
3,3,Saint George,US,37.1041,-113.5841,80.64,12,0,8.01,clear sky
8,8,Ontario,US,34.0633,-117.6509,66.87,80,100,12.66,light intensity drizzle
9,9,Hilo,US,19.7297,-155.0900,87.28,92,100,5.75,light rain
11,11,Lira,UG,2.2350,32.9097,68.72,81,98,1.45,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Rong Kwang,TH,18.3390,100.3174,76.12,90,76,1.63,light rain
677,677,Saint-Francois,FR,46.4154,3.9054,72.84,35,0,10.36,clear sky
678,678,Payo,ID,-3.7508,103.6372,74.91,84,98,2.04,overcast clouds
679,679,Ponta Delgada,PT,37.7333,-25.6667,68.72,68,40,11.50,scattered clouds
681,681,Sulangan,PH,11.1373,123.7228,82.58,75,66,15.97,broken clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,76.73,scattered clouds,-23.1203,-134.9692,
3,Saint George,US,80.64,clear sky,37.1041,-113.5841,
8,Ontario,US,66.87,light intensity drizzle,34.0633,-117.6509,
9,Hilo,US,87.28,light rain,19.7297,-155.0900,
11,Lira,UG,68.72,overcast clouds,2.2350,32.9097,
13,Kapaa,US,75.52,overcast clouds,22.0752,-159.3190,
15,Georgetown,MY,82.33,light rain,5.4112,100.3354,
17,Ribeira Grande,PT,66.60,few clouds,38.5167,-28.7000,
19,Isangel,VU,73.17,scattered clouds,-19.5500,169.2667,
24,Los Llanos De Aridane,ES,65.95,broken clouds,28.6585,-17.9182,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
clean_hotel_df = hotel_df
clean_hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
clean_hotel_df.dropna(subset=["Hotel Name"], inplace=True)

In [10]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Rikitea,PF,76.73,scattered clouds,-23.1203,-134.9692,People ThankYou
3,Saint George,US,80.64,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
8,Ontario,US,66.87,light intensity drizzle,34.0633,-117.6509,Capri Motel
11,Lira,UG,68.72,overcast clouds,2.2350,32.9097,ST Lira Hotel Limited
13,Kapaa,US,75.52,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...
674,Rong Kwang,TH,76.12,light rain,18.3390,100.3174,Rong Kwang Hotel
677,Saint-Francois,FR,72.84,clear sky,46.4154,3.9054,Manoir Du Bonheur
678,Payo,ID,74.91,overcast clouds,-3.7508,103.6372,Mess keban agung
679,Ponta Delgada,PT,68.72,scattered clouds,37.7333,-25.6667,Vila Nova Hotel
681,Sulangan,PH,82.58,broken clouds,11.1373,123.7228,Maia's Beach Resort

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))